*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: Outfit;
}
body{
  min-height:100vh;
  background-color:#fcfcfc;
}
a{
  text-decoration:none;
  color:inherit;
}
hr{
  border:none;
  height:1px;
  background-color:#a9a9a9;
}
.app content{
  display:flex;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-layout {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 220px; /* fixed width */
  background: #f4f4f4;
}

.page-content {
  flex: 1;
  padding: 1rem;
  background: #fff;
}
.flex col{
  display: flex;
  flex-direction: column;
  gap:20px
}